.env
.envrc
token.txt

**/pycache/**

.ipynb_checkpoints/
.python-version

.streamlit
interface/ui_drafts

#########################
#------------------------
# data folders
raw_data/
#------------------------
#########################
