.env
.envrc
token.txt
playlist_module/__pycache__/
playlist_module/create_df.py

.ipynb_checkpoints/
.python-version

.streamlit

#########################
#------------------------
# data folders
raw_data/
#------------------------
#########################
