.env
.envrc
token.txt
playlist_module/__pycache__/
face_detect_module/__pycache__/
interface/__pycache__/
.ipynb_checkpoints/
.python-version
.streamlit
interface/ui_drafts
emotion_recognition_model
face_detect_module/model_files/DIY_1st.h5
face_detect_module/model_files/DIY_2nd.h5
face_detect_module/model_files/FER_dinamic_LSTM_Aff-Wild2.pt
face_detect_module/model_files/FER_static_ResNet50_AffectNet.pt
interface/images
