spotipy
# os
tensorflow
streamlit
streamlit-webrtc
requests
pandas
datetime
opencv-python
xdg
#xdg-utils
pyarrow==4.0.0

#########################
#------------------------
# for the face_detect_module
# os
# cv2
opencv-python
opencv-contrib-python
mediapipe
numpy

torch
#torch.nn
#torch.nn.functional
pillow
torchvision
#------------------------
#########################
