spotipy
tensorflow
streamlit
streamlit-webrtc
requests
pandas
datetime
opencv-python
xdg
libgl1-mesa-dev
opencv-python
opencv-contrib-python
mediapipe
numpy
torch
pillow
torchvision
#
opencv-contrib-python-headless
streamlit==0.81.1
streamlit_webrtc==0.20.0
